[run]
omit = foolbox/tests/*

[report]
exclude_lines =
    # see: http://coverage.readthedocs.io/en/latest/config.html

    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
