[tool.black]
line-length = 88
target-version = ['py35', 'py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist

  # specific to Foolbox
  | foolbox/tests/data/model_repo
  | worktrees
  | wip
  | .pytest_cache
)/
'''
