numpydoc >= 0.6.0
sphinx >= 1.6.2
sphinx-autobuild >= 0.6.0
sphinx_rtd_theme >= 0.2.4
twine >= 1.9.1
pytest >= 3.1.0
pytest-cov >= 2.5.1
flake8 >= 3.3.0
python-coveralls >= 2.9.1
pillow >= 4.1.1
randomgen >= 1.14.4
