numpy==1.18.1
scipy==1.4.1
numpydoc==0.9.2
sphinx==1.8.5
docutils==0.15
sphinx-autobuild==0.7.1
sphinx_rtd_theme==0.4.3
pytest==5.3.5
pytest-cov==2.8.1
flake8==3.7.9
python-coveralls==2.9.3
pillow==7.0.0
responses==0.10.9
randomgen==1.18.1
mypy==0.761
pre-commit==2.0.1
tensorflow==1.14
theano==1.0.4
keras==2.1.5
mxnet==1.4.1
jax==0.1.57
jaxlib==0.1.37
